.h1-ejemplo {
    color: rgba(128, 40, 150, 0.932);
    font-size:40px;
    border: 5px outset royalblue;
    background-color: rgb(162, 212, 196);
    border-radius: 10px;
    text-align: center;
}


body header nav ul li {
    color:rgb(226, 32, 32);
      
}

#section-img {
    display: flex;
    justify-content: center;
    align-items:inherit;
    width:100%;
    text-align:center;
  }

.div-img {
    border: 3px solid rgb(13, 168, 155);
    border-style: double;
    padding-bottom: unset;
    margin: auto;
    padding: 1%;
}

body {
    background-image: url("/imagenes/pastel.jpg");
   background-repeat: inherit;
   background-size: contain;
   color: rgb(7, 95, 80);
   
}

* {
    line-height: 1.5;
    list-style: none;
    font-family: 'Montez', cursive;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: left;
}

.index-footer__section .footer__article {
    background-color: rgb(236, 88, 88);
    width: 500px;
    border: ridge;
    border-color: rgba(255, 0, 43, 0.473);
    padding: 30px;
    justify-content: center;
    height: 300px;
    display: flex;
    align-items: center;
}

.index-form {
    color: rgba(67, 12, 155, 0.829);
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration-color: brown;

}
